@font-face {
    font-family: 'TT Lakes Regular';
    src: url('../font/TTLakes-Regular.eot');
    src: url('../font/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
    url('../font/TTLakes-Regular.woff') format('woff'),
    url('../font/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

body {
    font-family: 'TT Lakes', Arial, sans-serif;
    width: 100%;
    margin: 0;
}

header, main {
    margin: 20px;
}

.title {
    font-size: 16px;
    line-height: 24px;
    color: #7E7E82;
}

.swiper {
    height: 100px;
    margin-top: 40px;
}

.toggle-button {
    all: unset; /* Сбрасывает все стандартные стили элемента */
    cursor: pointer; /* Указатель мыши при наведении */
    font-size: 16px; /* Размер текста */
}